.plan-button {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 150px;
  padding: 10px;
}

.plan-button button {
  text-align: center;
  width: 100%;
  padding: 5px 20px;
  font-size: 1em;
  margin: auto;
  z-index: 500;
  cursor: pointer;
}

.start-plan-button button {
  border: solid 2px black;
  background-color: white;
  color: black;
}

.view-plan-button button {
  background-color: rgb(207, 12, 126);
  border: none;
  color: white;
}

.join-plan button {
  text-align: center;
  padding: 10px 20px;
  margin: 10px 0;
  font-size: 1em;
  z-index: 500;
  cursor: pointer;
  background-color: rgb(207, 12, 126);
  color: white;
}

.leave-plan button {
  border: solid 2px black;
  background-color: white;
  color: black;
  padding: 10px 20px;
  margin: 10px 0;
  font-size: 1em;
  z-index: 500;
  cursor: pointer;
}

.venue-button-active button {
  text-decoration: none;
  text-align: center;
  padding: 5px 10px;
  margin: 10px 5px;
  font-size: 0.75em;
  z-index: 500;
  cursor: pointer;
  background-color: rgb(207, 12, 126);
  border: solid 1px rgb(207, 12, 126);
  color: white;
  outline: none;
}

.venue-button-inactive button {
  border: solid 1px black;
  text-decoration: none;
  text-align: center;
  padding: 5px 10px;
  margin: 10px 5px;
  font-size: 0.75em;
  z-index: 500;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  color: black;
  outline: none;
}

.add-plan-comment button {
  text-decoration: none;
  text-align: center;
  padding: 5px 10px;
  font-size: 0.75em;
  z-index: 500;
  cursor: pointer;
  background-color: rgb(207, 12, 126);
  border: solid 1px rgb(207, 12, 126);
  color: white;
  outline: none;
}

.add-plan-comment textarea {
  display: block;
  margin-bottom: 10px;
  border: solid 1px gray;
}

@media only screen and (max-width: 575px) {
  .concert-item img {
    display: none;
  }
}
