/* CONCERTS */

.concerts {
  position: relative;
  padding: 20px;
}

.concert-list {
  position: relative;
  margin: auto;
}

.concert-item {
  position: relative;
  margin-bottom: 20px;
  border: solid 1px rgb(129, 129, 129);
  border-radius: 5px;
  padding: 15px;
  height: 150px;
}

.concert-item img {
  float: left;
  height: 130px;
  padding: 0 20px 10px 0;
}

.concert-item h3 {
  margin-top: 0;
}

.concert-item-details {
}

.venue-selector {
  margin-bottom: 20px;
}

.venue-selector-main {
  position: relative;
  margin: auto;
}

.venue-selector-mobile {
  position: relative;
  margin: auto;
}

.venue-button-active {
  display: inline-block;
}
.venue-button-inactive {
  display: inline-block;
}

@media only screen and (max-width: 550px) {
  .concert-item img {
    display: none;
  }
  .venue-selector-main {
    display: none;
  }
}

@media only screen and (min-width: 551px) {
  .venue-selector-mobile {
    display: none;
  }
}
