/* HEADER + NAV */

.header-container {
  width: 100%;
  position: fixed;
  background-color: rgb(27, 27, 27);
  width: 100%;
  z-index: 1000;
  box-shadow: 0px 1px 1px #181818;
  height: 51px;
}

/* .header-container::after {
  content: "";
  clear: both;
  display: table;
} */

.header {
  max-width: 800px;
  margin: auto;
}

.header::after {
  content: "";
  clear: both;
  display: table;
}

.header-title {
  position: absolute;
  color: white;
  font-weight: 800;
  font-size: 1.5em;
  line-height: 2em;
  padding: 0 0 0 20px;
}

.nav {
  position: relative;
  float: right;
}

.navItem {
  position: relative;
  display: inline-block;
  padding: 5px;
  margin: 10px 10px 10px 0;
  color: white;
  font-weight: 500;
  font-size: 1em;
  line-height: 1.2em;
  cursor: pointer;
}

.navActive {
  border-bottom: 2px solid rgb(207, 12, 126);
}

.navInactive:hover {
  border-bottom: 2px solid white;
}

/* Hamburger */

.nav-mobile {
  position: relative;
  float: right;
  height: 41px;
  padding: 5px 20px 5px;
  cursor: pointer;
}

.nav-mobile span {
  display: block;
  width: 35px;
  height: 3px;
  background-color: rgb(207, 12, 126);
  margin: 8px 0;
  transition: 0.4s;
}

.nav-mobile-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 150px;
  background-color: rgb(27, 27, 27);
  z-index: 1000;
  color: rgb(207, 12, 126);
}

.nav-mobile-menu {
  width: 70%;
  float: left;
  padding: 5px;
}

.nav-mobile-item {
  font-size: 1.5em;
  padding: 5px 2px 5px 2px;
  color: white;
}

.nav-mobile-x {
  padding: 10px 0;
  font-size: 1.5em;
}

@media only screen and (max-width: 525px) {
  .nav {
    display: none;
  }
}

@media only screen and (min-width: 526px) {
  .nav-mobile {
    display: none;
  }
}