/* HOME */

.home {
  position: relative;
  width: 100%;
  padding: 20px;
}

.home-info p {
  font-size: 1.2em;
  padding: 5px;
}

.home-card {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  width: 90%;
  min-width: 300px;
  max-width: 400px;
  border-left: 5px solid rgb(207, 12, 126);
  padding: 10px 20px;
  margin: auto;
  margin-bottom: 20px;
}

.home-card p {
  font-size: 0.9em;
}

.home-card span {
  font-weight: 800;
  color: rgb(207, 12, 126);
}

.home-card-nav {
  font-weight: 700;
}

.loading-container p {
  font-size: 0.75em;
  color: rgb(87, 87, 87);
  margin: 0;
  padding-bottom: 5px;
}

.loading-container h4 {
  margin-bottom: 5px;
  margin-top: 10px;
}

.server-loaded {
  color: rgb(207, 12, 126);
}

.server-loading {
  color: rgb(253, 244, 244);
  animation: pulse 1s ease-in-out infinite;
}

@keyframes pulse {
  0% {
    color: rgb(73, 104, 134);
  }
  100% {
    color: silver;
  }
}
