/* LOGIN */

.login {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  width: 325px;
  border-left: 5px solid rgb(207, 12, 126);
  padding: 30px 40px;
  margin: auto;
  margin-bottom: 20px;
}

.login input {
  display: block;
  border: solid 1px black;
  height: 30px;
  width: 100%;
  margin: auto;
  margin-bottom: 5px;
  font-size: 1em;
  padding: 5px;
  box-sizing: border-box;
}

.login button {
  background-color: rgb(207, 12, 126);
  border: none;
  color: white;
  text-align: center;
  width: 100%;
  padding: 10px 20px;
  font-size: 1em;
  margin: auto;
}

.loading-spinner {
  position: relative;
  margin: auto;
}

/* USER */

.user {
  margin: auto;
  margin-top: 50px;
  max-width: 500px;
}

.user-panel {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  width: 90%;
  min-width: 400px;
  border-left: 5px solid rgb(207, 12, 126);
  padding: 10px 0;
  margin: auto;
  margin-bottom: 20px;
}

.log-out button {
  position: relative;
  float: right;
  background-color: rgb(207, 12, 126);
  border: none;
  color: white;
  text-align: center;
  width: 85px;
  padding: 5px 0 5px 0;
  font-size: 0.75em;
  margin-top: 10px;
  z-index: 500;
}

.user-data {
  position: relative;
  padding: 10px;
}

.user-card {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  width: 325px;
  border-left: 5px solid rgb(207, 12, 126);
  padding: 10px 20px;
  margin: auto;
  margin-bottom: 20px;
}

.user-card strong {
  color: rgb(207, 12, 126);
}

.user-card h3 {
  color: rgb(207, 12, 126);
}

.user-card li {
  padding: 10px;
}