.App {
  max-width: 800px;
  margin: auto;
  font-family: "Roboto", sans-serif;
}

.header {
  position: relative;
  background-color: rgb(27, 27, 27);
  width: 100%;
}

.header::after {
  content: "";
  clear: both;
  display: table;
}

.header-title {
  position: absolute;
  color: white;
  font-weight: 800;
  font-size: 1.5em;
  line-height: 2em;
  padding: 0 0 0 20px;
}

.nav {
  position: relative;
  float: right;
}

.navItem {
  position: relative;
  display: inline-block;
  padding: 5px;
  margin: 10px 10px 10px 0;
  color: white;
  font-weight: 500;
  font-size: 1em;
  line-height: 1.2em;
  cursor: pointer;
}

.navActive {
  border-bottom: 2px solid rgb(207, 12, 126);
}

.navInactive:hover {
  border-bottom: 2px solid white;
}

.footer {
  position: relative;
  width: 100%;
  background-color: rgb(27, 27, 27);
  color: white;
}

.footer-title {
  position: relative;
  font-size: 1.5em;
  padding: 20px 0 10px 20px;
}

.footer-content {
  position: relative;
  padding: 0px 0 20px 20px;
}

.footer-item {
  font-size: 1em;
  padding: 0 0 5px 0;
}

.lucas-home {
  border-bottom: 2px solid rgb(207, 12, 126);
}

a:link,
a:visited,
a:hover,
a:active {
  color: white;
  text-decoration: none;
}

.content-container {
  min-height: 300px;
}

.home {
  position: relative;
  width: 100%;
  padding: 20px 0px 20px 0px;
}

.home-welcome {
  font-size: 2em;
  margin: auto;
  text-align: center;
}

.login {
  position: relative;
  width: 300px;
  margin: auto;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.login input {
  display: block;
  border: solid 1px black;
  height: 30px;
  width: 100%;
  margin: auto;
  margin-bottom: 5px;
  font-size: 1em;
  padding: 5px;
  box-sizing: border-box;
}

.login button {
  background-color: rgb(207, 12, 126);
  border: none;
  color: white;
  text-align: center;
  width: 100%;
  padding: 10px 20px;
  font-size: 1em;
  margin: auto;
}

.loading-spinner {
  position: relative;
  margin: auto;
}

.user-panel {
  width: 100%;
}

.log-out button {
  position: relative;
  float: right;
  background-color: rgb(207, 12, 126);
  border: none;
  color: white;
  text-align: center;
  width: 85px;
  padding: 5px 0 5px 0;
  font-size: 0.75em;
  margin-top: 10px;
  z-index: 500;
}

.user-data {
  position: relative;
  padding: 10px;
}

.user-data-item {
  padding: 5px;
}

.concerts {
  position: relative;
  padding: 20px;
}

.concert-list {
  position: relative;
  margin: auto;
}

.concert-item {
  position: relative;
  margin-bottom: 20px;
  border: solid 1px rgb(129, 129, 129);
  border-radius: 5px;
  padding: 15px;
  height: 150px;
}

.concert-item img {
  float: left;
  height: 130px;
  padding: 10px 20px 10px 0;
}

.concert-item-details {
}

.plan-button {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 150px;
  padding: 10px;
}

.plan-button button {
  border: none;
  color: white;
  text-align: center;
  width: 100%;
  padding: 10px 20px;
  font-size: 1em;
  margin: auto;
  z-index: 500;
  cursor: pointer;
}

.make-plan-button button {
  background-color: rgb(207, 12, 126);
}

.view-plan-button button {
  background-color: rgb(0, 0, 0);
}

/*!
 * Load Awesome v1.1.0 (http://github.danielcardoso.net/load-awesome/)
 * Copyright 2015 Daniel Cardoso <@DanielCardoso>
 * Licensed under MIT
 */
.la-ball-clip-rotate,
.la-ball-clip-rotate > div {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.la-ball-clip-rotate {
  display: block;
  font-size: 0;
  color: #fff;
}
.la-ball-clip-rotate.la-dark {
  color: #333;
}
.la-ball-clip-rotate > div {
  display: inline-block;
  float: none;
  background-color: currentColor;
  border: 0 solid currentColor;
}
.la-ball-clip-rotate {
  width: 32px;
  height: 32px;
}
.la-ball-clip-rotate > div {
  width: 32px;
  height: 32px;
  background: transparent;
  border-width: 2px;
  border-bottom-color: transparent;
  border-radius: 100%;
  -webkit-animation: ball-clip-rotate 0.75s linear infinite;
  -moz-animation: ball-clip-rotate 0.75s linear infinite;
  -o-animation: ball-clip-rotate 0.75s linear infinite;
  animation: ball-clip-rotate 0.75s linear infinite;
}
.la-ball-clip-rotate.la-sm {
  width: 16px;
  height: 16px;
}
.la-ball-clip-rotate.la-sm > div {
  width: 16px;
  height: 16px;
  border-width: 1px;
}
.la-ball-clip-rotate.la-2x {
  width: 64px;
  height: 64px;
}
.la-ball-clip-rotate.la-2x > div {
  width: 64px;
  height: 64px;
  border-width: 4px;
}
.la-ball-clip-rotate.la-3x {
  width: 96px;
  height: 96px;
}
.la-ball-clip-rotate.la-3x > div {
  width: 96px;
  height: 96px;
  border-width: 6px;
}
/*
  * Animation
  */
@-webkit-keyframes ball-clip-rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes ball-clip-rotate {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes ball-clip-rotate {
  0% {
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes ball-clip-rotate {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
